body {
    margin: 0;
    padding: 0;
    background: #FFEAD0;
}

.name {
    width: 100%;
    height: 300px;
    background: #37505C;
    transform: skewY(-5deg);

}

.name .content {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    

}

.name .content .p1 {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-weight: bolder;
    font-size: 65px;
    transform: skewY(5deg);
    margin-bottom: 0;

}

.name .img {
    position: absolute;
    top: 18%;
    right: 5%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    transform: skewY(5deg);
    overflow: hidden;

}

.name .img img{
    width: 180px;
    height: 320px;
}

.info {
    width: 90%;
    height: auto;
    background: #37505C;
    margin:5% auto;
    padding: 20px;
    border-radius: 20px;

}

.info .Tituloseccion {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 3px #FFEAD0 dashed;

}

.info .Tituloinfo {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;

}

.info .Infoinfo {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}